<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saurabhsr.tracker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCHmZS2e_iO5F1OjpUIP5EzJqgf88PS0OM" />

        <activity
            android:name=".User_Login"
            android:label="@string/title_activity_user__login" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >

            <!--
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Registeration"
            android:label="@string/title_activity_registeration" >
        </activity>
        <activity
            android:name=".LinearLayout"
            android:label="@string/title_activity_linear_layout" >
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen" >
        </activity>
        <activity
            android:name=".CreditcardDetail"
            android:label="@string/title_activity_creditcard_detail" >
        </activity>
        <activity
            android:name=".Hideimage"
            android:label="@string/title_activity_hideimage" >
        </activity>
        <activity
            android:name=".SortList"
            android:label="@string/title_activity_sort_list" >
        </activity>
        <activity
            android:name=".CalenderEx"
            android:label="@string/title_activity_calender_ex" >
        </activity>
        <activity
            android:name=".Calender2"
            android:label="@string/title_activity_calender2" >
        </activity>
        <activity
            android:name=".ex"
            android:label="@string/title_activity_ex" >
        </activity>
        <activity
            android:name=".ListViewEx"
            android:label="@string/title_activity_list_view_ex" >
        </activity>
        <activity
            android:name=".GridViewEx"
            android:label="@string/title_activity_grid_view_ex" >
        </activity>
        <activity
            android:name=".CustomListViewEx"
            android:label="@string/title_activity_custom_list_view_ex" >
        </activity>
        <activity
            android:name=".CustomGridViewEx"
            android:label="@string/title_activity_custom_grid_view_ex" >
        </activity>
        <activity
            android:name=".SearchWord"
            android:label="@string/title_activity_search_word" >
        </activity>
        <activity
            android:name=".IntentExample"
            android:label="@string/title_activity_intent_example" >
        </activity>
        <activity
            android:name=".ExSharedPref"
            android:label="@string/title_activity_ex_shared_pref" >
        </activity>
        <activity
            android:name=".EXAsynkTask"
            android:label="@string/title_activity_exasynk_task" >
        </activity>
        <activity
            android:name=".FragmentEx"
            android:label="@string/title_activity_fragment_ex" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".ThreadExample"
            android:label="@string/title_activity_thread_example" >
        </activity>
        <activity
            android:name=".HandlerEx"
            android:label="@string/title_activity_handler_ex" >
        </activity>
        <activity
            android:name=".BroadCastRcvrExample"
            android:label="@string/title_activity_broad_cast_rcvr_example" >

        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.acadgildt.CUSTOM_INTENT" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".CustomReiverExampe"
            android:label="@string/title_activity_custom_reiver_exampe" >

        </activity>
        <activity
            android:name=".BrocstWithNotification"
            android:label="@string/title_activity_brocst_with_notification" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastManager"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".NotificationView"
            android:label="@string/title_activity_notification_view" >
        </activity>

        <receiver
            android:name=".BrodCastRcvr"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
